#home-page {
  background: repeating-linear-gradient(
    #0d122b,
    #0d122b 2px,
    #565b73 2px,
    #565b73 4px
  );
}
.turn {
  transform: scale(1.1);
  transition: all 1s ease;
  text-align: center;
  animation: spin 5s infinite;
  font-family: "Permanent Marker", cursive;
  font-size: 5em;
}

@keyframes spin {
  0% {
    color: rgba(34, 110, 195, 1);
  }
  100% {
    color: rgb(253, 244, 45);
  }
}

.start-btn {
  border-radius: 30px;
  animation: startButton 5s infinite ease;
  font-family: "Permanent Marker", cursive !important;
}
@keyframes startButton {
  0% {
    background-color: rgba(34, 110, 195, 1);
    transform: scale(1);
  }
  25% {
    background-color: rgb(253, 244, 45);
    transform: scale(1.2);
  }
  50% {
    background-color: rgba(34, 110, 195, 1);
    transform: scale(1.4);
  }
  75% {
    background-color: rgba(34, 110, 195, 1);
    transform: scale(1.2);
  }
  100% {
    background-color: rgb(253, 244, 45);
    transform: scale(1);
  }
}
.home-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  min-height: 100vh;
}

.character-select-container {
  width: 800px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.character {
  width: 200px;
  height: 200px;
  background-color: blue;
  display: inline-block;
  margin: 5px;
  padding: 5px;
}
.character:hover {
    background-color:rgba(185, 105, 29, 0.979);
  }

.character-button {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
}
.character-image {
  min-height: 100%;
  min-width: 100%;
}
#charcter-select {
  background: rgb(253, 244, 45);
  background: linear-gradient(
    0deg,
    rgba(253, 244, 45, 1) 32%,
    rgba(34, 110, 195, 1) 67%
  );
}

.charcter-name{
    text-transform: uppercase;
    font-family: "Permanent Marker", cursive !important;
    color: rgba(185, 105, 29, 0.979);
}
